apiVersion: apps/v1
kind: Deployment
metadata:
  name: platforms-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: platformservice # Label selector to identify pods
  template:
    metadata:
      labels:
        app: platformservice # Labels for the pod
    spec:
      containers:
        - name: platformservice #- means arrays
          image: zabi90/platformservice:latest
          #kubectl applyy -f K8S/platforms-depl.yaml
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: platforms-clusterip-srv
spec:
  type: ClusterIP
  selector:
    app: platformservice
  ports:
    - name: platformservice
      protocol: TCP
      port: 8080
      targetPort: 8080
